In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

read data

In [40]:
prices=pd.read_csv("data/raw/2020/01/2020-01-01-prices.csv")
stations=pd.read_csv("data/stations.csv")

In [6]:
prices.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
0,2020-01-01 00:00:04+01,81d72fa3-5270-45af-816f-ba0abb7776f4,1.319,1.469,1.449,1,0,0
1,2020-01-01 00:01:04+01,ec70685a-1110-4632-8735-8d2cebd07da6,1.269,1.389,1.369,1,1,1
2,2020-01-01 00:01:04+01,4de95bf1-c91c-4bf9-a0f3-9c1069dfc277,1.289,1.419,1.399,1,1,1
3,2020-01-01 00:01:04+01,9bb515a4-c551-41b8-a8a1-e120f29474fd,1.229,1.359,0.000,1,1,0
4,2020-01-01 00:01:04+01,3e385667-56a9-46b4-96de-2adcfd7b5655,1.319,1.439,1.419,1,1,1

In [30]:
len(prices)

207898

In [7]:
stations.head()

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
0,00060723-0001-4444-8888-acdc00000001,BAGeno Raiffeisen eG,NaN,Künzelsauer Strasse,7,74653,Ingelfingen,49.296822,9.661385
1,005056ba-7cb6-1ed2-bceb-5332ab168d12,famila Tankstelle,FAMILA,Pascalstrasse,9,25442,Quickborn,53.742150,9.941240
2,005056ba-7cb6-1ed2-bceb-573c18314d16,star Tankstelle,STAR,Riehler Strasse,240,50735,Köln,50.961800,6.980070
3,005056ba-7cb6-1ed2-bceb-662ba1a94d1f,star Tankstelle,STAR,BAB 10 / Seeberg Ost,NaN,15345,Altlandsberg,52.550160,13.682120
4,005056ba-7cb6-1ed2-bceb-6f7b23564d23,star Tankstelle,STAR,Duisburger Straße,130,47166,Duisburg,51.489790,6.783730

In [22]:
len(stations.loc[(stations.city=="Hamburg")|(stations.city=="HAMBURG")])

222

set range for lattitude

In [12]:
minlat=53.553444
maxlat=53.667341

In [13]:
minlon=9.851884
maxlon=9.995315

In [31]:
#(stations.city=="Hamburg")& - 26 
# wo 51 
stations_on_route=stations.loc[
             (stations.latitude>minlat)&(stations.latitude<maxlat)&
            (stations.longitude>minlon)&(stations.longitude<maxlon)]

In [33]:
stations_on_route.uuid

117      64fbbee6-75a1-4999-9798-d3e81ba6a35e
119      6b9dcae3-0b93-4633-9b96-1a377c930f09
621      005056ba-7cb6-1ed2-bceb-6e6ee17d4d20
660      005056ba-7cb6-1ed2-bceb-77e71d9b6d26
771      005056ba-7cb6-1ed2-bceb-971fa39ded38
775      005056ba-7cb6-1ed2-bceb-980dcb9e8d3b
964      005056ba-7cb6-1ed4-8089-881fa56f0dda
1151     0423f1ea-3499-458f-84c8-d3047ca25c14
2169     1a1a9491-ac37-4046-9437-0d4b7a69f5e0
2264     1c29472d-908b-48cd-b163-2895e9730c3c
2464     2104a66e-b9b6-42bf-8c57-1f3e547a0b97
3055     2f0d5ed0-7935-4d5e-b623-aa20ce2ba334
3292     35b2a245-bc8f-494b-bcb9-99720738770f
4384     4fea853c-1add-4ac7-9d0a-d7c95de80ff1
4545     51d4b493-a095-1aa0-e100-80009459e03a
4566     51d4b4ae-a095-1aa0-e100-80009459e03a
4600     51d4b4dc-a095-1aa0-e100-80009459e03a
4631     51d4b504-a095-1aa0-e100-80009459e03a
5139     5336de21-fd2d-4821-b4fe-bf89684cdb81
6387     6d7517d5-2a6c-403f-bd19-f9557c5ff16c
6847     78c632ee-7674-44bc-87d7-97d155c9e2be
6868     7969d8cf-febb-42b0-8b45-22aa2e3596e9
6917     7a5ee48a-680a-49e3-8705-fa4020f94e74
7275     8257db70-aea6-42c1-a61e-98aa82b7b0f6
7374     85114fd2-e91a-48d0-8a12-8963116be5b3
7446     86ce85ac-4e7e-4de5-87b1-eef29f7e57e1
8000     92d1333c-71cc-4337-887a-d9d860e623c4
8003     92dbbe2c-26b9-4501-b424-ad1a6cece3bf
8140     95b23160-eeb2-440f-adc4-245238f24e42
8773     a3d0e27b-e527-46f1-a50b-8e472a79639b
9000     a93ceaf7-8b39-4e5d-a5a8-ae1ec34a1e56
9542     b508e000-3721-491d-e269-a47b661033d4
10971    d3c11609-f267-4eed-9b3a-7f5c75bbe909
11324    db974126-82aa-49ec-a038-1af3f0ba696f
11661    e1a15081-24f9-9107-e040-0b0a3dfe563c
11834    e1a15081-25c9-9107-e040-0b0a3dfe563c
12136    e6ae45e8-49ca-4fe4-a396-865657fcf313
12244    e90560e6-02b4-4fd7-8466-ee4bbd35b9b7
12693    f39ac47d-9960-4056-87ad-0aa03aa0029c
12831    f6e5c04a-3914-46cc-be63-ba22ec615c87
12977    fa0bc595-279b-402c-9092-776dafd24e30
13333    51d4b66a-a095-1aa0-e100-80009459e03a
13415    b282ef61-a88d-4abd-bfba-92524f78867e
13463    e1a15081-2617-9107-e040-0b0a3dfe563c
14060    51d4b6ab-a095-1aa0-e100-80009459e03a
14132    942e27e7-8dd6-4358-b43b-204a2502c216
14164    b3866f00-2e15-4ad1-9cbf-412741a06a3a
14459    005056ba-7cb6-1ed2-bceb-bcc684b14d4e
15081    83331733-df38-4a7b-87ee-f6625b897c9d
15222    bae4c2cf-1dde-4edc-b394-4da173ee9a72
15309    d0235369-10e6-4862-8b27-66c03ddace6b
Name: uuid, dtype: object

In [34]:
prices.loc[prices.station_uuid.isin(['d0235369-10e6-4862-8b27-66c03ddace6b','bae4c2cf-1dde-4edc-b394-4da173ee9a72'])]

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
381,2020-01-01 04:02:03+01,d0235369-10e6-4862-8b27-66c03ddace6b,1.269,1.419,1.399,1,1,1
12614,2020-01-01 06:30:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
38432,2020-01-01 10:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.339,1.489,1.469,1,1,1
67834,2020-01-01 11:29:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.469,1.449,1,1,1
71549,2020-01-01 11:39:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,0,1,1
88524,2020-01-01 13:01:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
112312,2020-01-01 14:29:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.319,1.429,1.409,1,1,1
113178,2020-01-01 14:34:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,0,0
128934,2020-01-01 16:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
152641,2020-01-01 17:17:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,1,1
174742,2020-01-01 18:54:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.419,1.399,0,1,1

In [37]:
prices.loc[prices.station_uuid=='bae4c2cf-1dde-4edc-b394-4da173ee9a72']

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
12614,2020-01-01 06:30:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
38432,2020-01-01 10:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.339,1.489,1.469,1,1,1
67834,2020-01-01 11:29:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.469,1.449,1,1,1
71549,2020-01-01 11:39:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,0,1,1
88524,2020-01-01 13:01:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
112312,2020-01-01 14:29:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.319,1.429,1.409,1,1,1
113178,2020-01-01 14:34:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,0,0
128934,2020-01-01 16:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
152641,2020-01-01 17:17:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,1,1
174742,2020-01-01 18:54:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.419,1.399,0,1,1

In [55]:
stations_on_route

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
117,64fbbee6-75a1-4999-9798-d3e81ba6a35e,"HAMBURG, FRUCHTALLEE",Shell,FRUCHTALLEE 95,NaN,20259,HAMBURG,53.570618,9.953872
119,6b9dcae3-0b93-4633-9b96-1a377c930f09,"HAMBURG, PAUL-SORGE-STR.",Shell,PAUL-SORGE-STR. 150,NaN,22455,HAMBURG,53.635089,9.952902
621,005056ba-7cb6-1ed2-bceb-6e6ee17d4d20,star Tankstelle,STAR,Kieler Straße,206,22525,Hamburg,53.577040,9.937720
660,005056ba-7cb6-1ed2-bceb-77e71d9b6d26,star Tankstelle,STAR,Pinneberger Chaussee,74,22523,Hamburg,53.614860,9.893340
771,005056ba-7cb6-1ed2-bceb-971fa39ded38,star Tankstelle,STAR,Luruper Chaussee,18-22,22761,Hamburg,53.572900,9.894650
775,005056ba-7cb6-1ed2-bceb-980dcb9e8d3b,star Tankstelle,STAR,Farnhornweg,46a,22547,Hamburg,53.593220,9.890530
964,005056ba-7cb6-1ed4-8089-881fa56f0dda,star Tankstelle,STAR,Holsteiner Chaussee,182 - 184,22457,Hamburg,53.624820,9.909542
1151,0423f1ea-3499-458f-84c8-d3047ca25c14,bft Tankstelle,bft,Osdorfer Landstr.,5,22607,Hamburg,53.570060,9.875960
2169,1a1a9491-ac37-4046-9437-0d4b7a69f5e0,HMH Autoreparatur GmbH Pink-Tank,Pink-Tank,Vizelinstr.,64,22529,Hamburg,53.589740,9.947880
2264,1c29472d-908b-48cd-b163-2895e9730c3c,Esso Tankstelle,ESSO,THEODORSTR. 1,,22761,HAMBURG,53.566004,9.897019
2464,2104a66e-b9b6-42bf-8c57-1f3e547a0b97,Aral Tankstelle,ARAL,Stresemannstraße,329,22761,Hamburg,53.563923,9.926339
3055,2f0d5ed0-7935-4d5e-b623-aa20ce2ba334,"HAMBURG, THEODOR-HEUSS-PLATZ",Shell,THEODOR-HEUSS-PLATZ,NaN,20354,HAMBURG,53.561055,9.990878
3292,35b2a245-bc8f-494b-bcb9-99720738770f,TOTAL RELLINGEN,TOTAL,ALTONAER STR.,377,25462,RELLINGEN,53.622227,9.884988
4384,4fea853c-1add-4ac7-9d0a-d7c95de80ff1,"BOENNINGSTEDT, KIELER STR",Shell,KIELER STR. 70,NaN,25474,BOENNINGSTEDT,53.661696,9.906850
4545,51d4b493-a095-1aa0-e100-80009459e03a,JET HAMBURG RUGENBARG 83,JET,RUGENBARG 83,NaN,22549,HAMBURG,53.579600,9.852930
4566,51d4b4ae-a095-1aa0-e100-80009459e03a,JET HAMBURG NEUER KAMP 31,JET,NEUER KAMP 31,NaN,20359,HAMBURG,53.557100,9.967430
4600,51d4b4dc-a095-1aa0-e100-80009459e03a,JET HAMBURG KIELER STRASSE 234,JET,KIELER STRASSE 234,NaN,22525,HAMBURG,53.579040,9.936400
4631,51d4b504-a095-1aa0-e100-80009459e03a,JET HAMBURG OSDORFER LANDSTR. 170-172,JET,OSDORFER LANDSTR. 170-172,NaN,22549,HAMBURG,53.572330,9.854200
5139,5336de21-fd2d-4821-b4fe-bf89684cdb81,Aral Tankstelle,ARAL,Pinneberger Straße,1-3,22457,Hamburg,53.632880,9.910497
6387,6d7517d5-2a6c-403f-bd19-f9557c5ff16c,Aral Tankstelle,ARAL,Kieler Straße,560,22525,Hamburg,53.599940,9.917373
6847,78c632ee-7674-44bc-87d7-97d155c9e2be,"HAMBURG, DOORMANNSWEG",Shell,DOORMANNSWEG 45,NaN,20259,HAMBURG,53.567452,9.953028
6868,7969d8cf-febb-42b0-8b45-22aa2e3596e9,TOTAL HAMBURG,TOTAL,VON-SAUER STR.,27,22761,HAMBURG,53.565575,9.906537
6917,7a5ee48a-680a-49e3-8705-fa4020f94e74,Aral Tankstelle,ARAL,Kieler Straße,285,22525,Hamburg,53.583813,9.933157
7275,8257db70-aea6-42c1-a61e-98aa82b7b0f6,"HAMBURG, BUNDESSTR.",Shell,BUNDESSTR. 66,NaN,20144,HAMBURG,53.569869,9.973582
7374,85114fd2-e91a-48d0-8a12-8963116be5b3,Aral Tankstelle,ARAL,Osterfeldstraße,30,22529,Hamburg,53.598393,9.974470
7446,86ce85ac-4e7e-4de5-87b1-eef29f7e57e1,"Hamburg, Oddernskamp 14",bft,Oddernskamp 14,NaN,22529,Hamburg,53.600900,9.951570
8000,92d1333c-71cc-4337-887a-d9d860e623c4,"Hamburg, Kohlentwiete 14",SB,Kohlentwiete 14,NaN,22761,Hamburg,53.560062,9.930139
8003,92dbbe2c-26b9-4501-b424-ad1a6cece3bf,Aral Tankstelle,ARAL,Kieler Straße,314,22525,Hamburg,53.585860,9.933305
8140,95b23160-eeb2-440f-adc4-245238f24e42,Aral Tankstelle,ARAL,Holsteiner Chaussee,55,22523,Hamburg,53.614710,9.906061
8773,a3d0e27b-e527-46f1-a50b-8e472a79639b,Aral Tankstelle,ARAL,Hoheluftchaussee,78,20253,Hamburg,53.582897,9.971292
9000,a93ceaf7-8b39-4e5d-a5a8-ae1ec34a1e56,TOTAL RELLINGEN,TOTAL,HERMANN-LOENS-WEG,1,25462,RELLINGEN,53.638706,9.893509
9542,b508e000-3721-491d-e269-a47b661033d4,CleanCar AG,CleanCar AG,Kieler Str.,195,22525,Hamburg,53.577190,9.937300
10971,d3c11609-f267-4eed-9b3a-7f5c75bbe909,Esso Tankstelle,ESSO,KOPPELSTR. 30,,22527,HAMBURG,53.593255,9.938910
11324,db974126-82aa-49ec-a038-1af3f0ba696f,"HAMBURG, OSDORFER LANDSTR.",Shell,OSDORFER LANDSTR. 1,NaN,22607,HAMBURG,53.569741,9.877121
11661,e1a15081-24f9-9107-e040-0b0a3dfe563c,"Hamburg, Kollaustr. 179-181",HEM,Kollaustr.,179-181,22453,Hamburg,53.612682,9.952802
11834,e1a15081-25c9-9107-e040-0b0a3dfe563c,"Hamburg, Luruper Hauptstr. 70",HEM,Luruper Hauptstr.,70,22547,Hamburg,53.586235,9.878846
12136,e6ae45e8-49ca-4fe4-a396-865657fcf313,"HAMBURG, BEHRINGSTR.",Shell,BEHRINGSTR. 112,NaN,22763,HAMBURG,53.554721,9.909321
12244,e90560e6-02b4-4fd7-8466-ee4bbd35b9b7,Aral Tankstelle,ARAL,Bundesstraße,38,20146,Hamburg,53.565970,9.979668
12693,f39ac47d-9960-4056-87ad-0aa03aa0029c,"HAMBURG, HEGESTR.",Shell,HEGESTR. 26,NaN,20251,HAMBURG,53.582758,9.981480
12831,f6e5c04a-3914-46cc-be63-ba22ec615c87,Aral Tankstelle,ARAL,Kollaustraße,200,22453,Hamburg,53.615550,9.951808
12977,fa0bc595-279b-402c-9092-776dafd24e30,"HAMBURG, MAX-BRAUER-ALLEE",Shell,MAX-BRAUER-ALLEE 216,NaN,22769,HAMBURG,53.561963,9.956953
13333,51d4b66a-a095-1aa0-e100-80009459e03a,JET HAMBURG RUGENBARG 266-268,JET,RUGENBARG 266-268,NaN,22549,HAMBURG,53.587300,9.874570
13415,b282ef61-a88d-4abd-bfba-92524f78867e,Aral Tankstelle,ARAL,Schleswiger Damm,173,22457,Hamburg,53.641820,9.916311
13463,e1a15081-2617-9107-e040-0b0a3dfe563c,"Hamburg, Kieler Str. 361-365",HEM,Kieler Str.,361-365,22525,Hamburg,53.588750,9.930771
14060,51d4b6ab-a095-1aa0-e100-80009459e03a,JET HAMBURG DEELBOEGE 21,JET,DEELBOEGE 21,NaN,22297,HAMBURG,53.602600,9.989100
14132,942e27e7-8dd6-4358-b43b-204a2502c216,"HAMBURG, SCHNACKENBURGALLEE",Shell,SCHNACKENBURGALLEE 12,NaN,22525,HAMBURG,53.573447,9.919294
14164,b3866f00-2e15-4ad1-9cbf-412741a06a3a,"HAMBURG, KOLLAUSTR.",Shell,KOLLAUSTR. 39,NaN,22529,HAMBURG,53.602881,9.961741
14459,005056ba-7cb6-1ed2-bceb-bcc684b14d4e,star Tankstelle,STAR,Kollaustr.,170-172,22453,Hamburg,53.613210,9.952980
15081,83331733-df38-4a7b-87ee-f6625b897c9d,Tankcenter HAMBURG,Tankcenter,BORSTELER CHAUSSEE,95,22453,HAMBURG,53.606018,9.980404
15222,bae4c2cf-1dde-4edc-b394-4da173ee9a72,"HAMBURG, VOLKSPARKSTR.",Shell,VOLKSPARKSTR. 44-46,NaN,22525,HAMBURG,53.591671,9.921471
15309,d0235369-10e6-4862-8b27-66c03ddace6b,Hamburg Stresemannstraße,Mr. Wash Autoservice AG,Stresemannstraße,349-351,22761,Hamburg,53.564240,9.923700

In [41]:
#len 723
selected_prices = prices.loc[prices.station_uuid.isin(stations_on_route.uuid)]

In [42]:
selected_prices.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
381,2020-01-01 04:02:03+01,d0235369-10e6-4862-8b27-66c03ddace6b,1.269,1.419,1.399,1,1,1
782,2020-01-01 04:36:04+01,51d4b493-a095-1aa0-e100-80009459e03a,1.319,1.469,1.449,1,1,1
788,2020-01-01 04:36:04+01,51d4b66a-a095-1aa0-e100-80009459e03a,1.319,1.469,1.449,1,1,1
886,2020-01-01 04:36:04+01,51d4b504-a095-1aa0-e100-80009459e03a,1.319,1.469,1.449,1,1,1
1005,2020-01-01 04:36:04+01,51d4b4ae-a095-1aa0-e100-80009459e03a,1.339,1.469,1.449,1,1,1

In [91]:
#warning
#selected_prices['station_name']=selected_prices.station_uuid.copy()
#selected_prices['station_name']=selected_prices.station_uuid.map(stations_on_route.set_index('uuid')['brand'].to_dict()).copy()
#selected_prices['station_name'] = selected_prices['station_uuid'].map(name_dict)

In [127]:
#clean no warning version!
#selected_prices.loc[:,'station_name'] = selected_prices['station_uuid'].map(name_dict)

extend station id to meaningful info

In [138]:
selected_prices.loc[:,'station_name']=selected_prices.station_uuid.map(stations_on_route.set_index('uuid')['brand'].to_dict())
selected_prices.loc[:,'station_address']=selected_prices.station_uuid.map(stations_on_route.set_index('uuid')['street'].to_dict())
selected_prices.loc[:,'station_latitude']=selected_prices.station_uuid.map(stations_on_route.set_index('uuid')['latitude'].to_dict())
selected_prices.loc[:,'station_longitude']=selected_prices.station_uuid.map(stations_on_route.set_index('uuid')['longitude'].to_dict())

In [137]:
selected_prices.loc[:,'station_name']=selected_prices.station_uuid

In [133]:
#selected_prices.drop(['station_name','station_address','station_latitude','station_longitude'], axis=1,inplace=True)
#selected_prices.drop(['station_name'], axis=1,inplace=True)

In [139]:
selected_prices.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change,station_name,station_address,station_latitude,station_longitude
381,2020-01-01 04:02:03+01,d0235369-10e6-4862-8b27-66c03ddace6b,1.269,1.419,1.399,1,1,1,Mr. Wash Autoservice AG,Stresemannstraße,53.56424,9.92370
782,2020-01-01 04:36:04+01,51d4b493-a095-1aa0-e100-80009459e03a,1.319,1.469,1.449,1,1,1,JET,RUGENBARG 83,53.57960,9.85293
788,2020-01-01 04:36:04+01,51d4b66a-a095-1aa0-e100-80009459e03a,1.319,1.469,1.449,1,1,1,JET,RUGENBARG 266-268,53.58730,9.87457
886,2020-01-01 04:36:04+01,51d4b504-a095-1aa0-e100-80009459e03a,1.319,1.469,1.449,1,1,1,JET,OSDORFER LANDSTR. 170-172,53.57233,9.85420
1005,2020-01-01 04:36:04+01,51d4b4ae-a095-1aa0-e100-80009459e03a,1.339,1.469,1.449,1,1,1,JET,NEUER KAMP 31,53.55710,9.96743

In [ ]:
def station_info():
    
    return tags['tagValue'].loc[tags['tagID']==tagID].values[0]

In [136]:
selected_prices.to_csv("data/processed/2020/01/2020-01-01-prices.csv")

In [163]:
l_d = selected_prices.date[:5].values

In [172]:
from datetime import datetime

datetime_object = datetime.strptime('2020-01-01 04:02:03+01', '%Y-%m-%d %H:%M:%S+01')
#selected_prices.date
#= pd.to_datetime(selected_prices.date, format='%Y-%m-%d %H:%M:%S+1')
print(datetime_object)

2020-01-01 04:02:03

In [173]:
datetime_object

datetime.datetime(2020, 1, 1, 4, 2, 3)

In [168]:
def dt_conv(l_d):
    for i in l_d:
        datetime_object = datetime.strptime(i, '%Y-%m-%d %H:%M:%S+01')
        print(datetime_object)

In [169]:
dt_conv(l_d)

2020-01-01 04:02:03
2020-01-01 04:36:04
2020-01-01 04:36:04
2020-01-01 04:36:04
2020-01-01 04:36:04

In [170]:
datetime_object

datetime.datetime(2020, 1, 1, 4, 2, 3)

In [171]:
#selected_prices.loc[:,'dt']=
selected_prices.date.applymap(dt_conv)

AttributeError: 'Series' object has no attribute 'applymap'