In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

read data

In [5]:
prices=pd.read_csv("data/2020-01-01-prices.csv")
stations=pd.read_csv("data/stations.csv")

In [6]:
prices.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
0,2020-01-01 00:00:04+01,81d72fa3-5270-45af-816f-ba0abb7776f4,1.319,1.469,1.449,1,0,0
1,2020-01-01 00:01:04+01,ec70685a-1110-4632-8735-8d2cebd07da6,1.269,1.389,1.369,1,1,1
2,2020-01-01 00:01:04+01,4de95bf1-c91c-4bf9-a0f3-9c1069dfc277,1.289,1.419,1.399,1,1,1
3,2020-01-01 00:01:04+01,9bb515a4-c551-41b8-a8a1-e120f29474fd,1.229,1.359,0.000,1,1,0
4,2020-01-01 00:01:04+01,3e385667-56a9-46b4-96de-2adcfd7b5655,1.319,1.439,1.419,1,1,1

In [30]:
len(prices)

207898

In [7]:
stations.head()

,uuid,name,brand,street,house_number,post_code,city,latitude,longitude
0,00060723-0001-4444-8888-acdc00000001,BAGeno Raiffeisen eG,NaN,Künzelsauer Strasse,7,74653,Ingelfingen,49.296822,9.661385
1,005056ba-7cb6-1ed2-bceb-5332ab168d12,famila Tankstelle,FAMILA,Pascalstrasse,9,25442,Quickborn,53.742150,9.941240
2,005056ba-7cb6-1ed2-bceb-573c18314d16,star Tankstelle,STAR,Riehler Strasse,240,50735,Köln,50.961800,6.980070
3,005056ba-7cb6-1ed2-bceb-662ba1a94d1f,star Tankstelle,STAR,BAB 10 / Seeberg Ost,NaN,15345,Altlandsberg,52.550160,13.682120
4,005056ba-7cb6-1ed2-bceb-6f7b23564d23,star Tankstelle,STAR,Duisburger Straße,130,47166,Duisburg,51.489790,6.783730

In [22]:
len(stations.loc[(stations.city=="Hamburg")|(stations.city=="HAMBURG")])

222

set range for lattitude

In [12]:
minlat=53.553444
maxlat=53.667341

In [13]:
minlon=9.851884
maxlon=9.995315

In [31]:
#(stations.city=="Hamburg")& - 26 
# wo 51 
stations_on_route=stations.loc[
             (stations.latitude>minlat)&(stations.latitude<maxlat)&
            (stations.longitude>minlon)&(stations.longitude<maxlon)]

In [33]:
stations_on_route.uuid

117      64fbbee6-75a1-4999-9798-d3e81ba6a35e
119      6b9dcae3-0b93-4633-9b96-1a377c930f09
621      005056ba-7cb6-1ed2-bceb-6e6ee17d4d20
660      005056ba-7cb6-1ed2-bceb-77e71d9b6d26
771      005056ba-7cb6-1ed2-bceb-971fa39ded38
775      005056ba-7cb6-1ed2-bceb-980dcb9e8d3b
964      005056ba-7cb6-1ed4-8089-881fa56f0dda
1151     0423f1ea-3499-458f-84c8-d3047ca25c14
2169     1a1a9491-ac37-4046-9437-0d4b7a69f5e0
2264     1c29472d-908b-48cd-b163-2895e9730c3c
2464     2104a66e-b9b6-42bf-8c57-1f3e547a0b97
3055     2f0d5ed0-7935-4d5e-b623-aa20ce2ba334
3292     35b2a245-bc8f-494b-bcb9-99720738770f
4384     4fea853c-1add-4ac7-9d0a-d7c95de80ff1
4545     51d4b493-a095-1aa0-e100-80009459e03a
4566     51d4b4ae-a095-1aa0-e100-80009459e03a
4600     51d4b4dc-a095-1aa0-e100-80009459e03a
4631     51d4b504-a095-1aa0-e100-80009459e03a
5139     5336de21-fd2d-4821-b4fe-bf89684cdb81
6387     6d7517d5-2a6c-403f-bd19-f9557c5ff16c
6847     78c632ee-7674-44bc-87d7-97d155c9e2be
6868     7969d8cf-febb-42b0-8b45-22aa2e3596e9
6917     7a5ee48a-680a-49e3-8705-fa4020f94e74
7275     8257db70-aea6-42c1-a61e-98aa82b7b0f6
7374     85114fd2-e91a-48d0-8a12-8963116be5b3
7446     86ce85ac-4e7e-4de5-87b1-eef29f7e57e1
8000     92d1333c-71cc-4337-887a-d9d860e623c4
8003     92dbbe2c-26b9-4501-b424-ad1a6cece3bf
8140     95b23160-eeb2-440f-adc4-245238f24e42
8773     a3d0e27b-e527-46f1-a50b-8e472a79639b
9000     a93ceaf7-8b39-4e5d-a5a8-ae1ec34a1e56
9542     b508e000-3721-491d-e269-a47b661033d4
10971    d3c11609-f267-4eed-9b3a-7f5c75bbe909
11324    db974126-82aa-49ec-a038-1af3f0ba696f
11661    e1a15081-24f9-9107-e040-0b0a3dfe563c
11834    e1a15081-25c9-9107-e040-0b0a3dfe563c
12136    e6ae45e8-49ca-4fe4-a396-865657fcf313
12244    e90560e6-02b4-4fd7-8466-ee4bbd35b9b7
12693    f39ac47d-9960-4056-87ad-0aa03aa0029c
12831    f6e5c04a-3914-46cc-be63-ba22ec615c87
12977    fa0bc595-279b-402c-9092-776dafd24e30
13333    51d4b66a-a095-1aa0-e100-80009459e03a
13415    b282ef61-a88d-4abd-bfba-92524f78867e
13463    e1a15081-2617-9107-e040-0b0a3dfe563c
14060    51d4b6ab-a095-1aa0-e100-80009459e03a
14132    942e27e7-8dd6-4358-b43b-204a2502c216
14164    b3866f00-2e15-4ad1-9cbf-412741a06a3a
14459    005056ba-7cb6-1ed2-bceb-bcc684b14d4e
15081    83331733-df38-4a7b-87ee-f6625b897c9d
15222    bae4c2cf-1dde-4edc-b394-4da173ee9a72
15309    d0235369-10e6-4862-8b27-66c03ddace6b
Name: uuid, dtype: object

In [34]:
prices.loc[prices.station_uuid.isin(['d0235369-10e6-4862-8b27-66c03ddace6b','bae4c2cf-1dde-4edc-b394-4da173ee9a72'])]

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
381,2020-01-01 04:02:03+01,d0235369-10e6-4862-8b27-66c03ddace6b,1.269,1.419,1.399,1,1,1
12614,2020-01-01 06:30:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
38432,2020-01-01 10:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.339,1.489,1.469,1,1,1
67834,2020-01-01 11:29:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.469,1.449,1,1,1
71549,2020-01-01 11:39:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,0,1,1
88524,2020-01-01 13:01:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
112312,2020-01-01 14:29:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.319,1.429,1.409,1,1,1
113178,2020-01-01 14:34:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,0,0
128934,2020-01-01 16:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
152641,2020-01-01 17:17:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,1,1
174742,2020-01-01 18:54:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.419,1.399,0,1,1

In [37]:
prices.loc[prices.station_uuid=='bae4c2cf-1dde-4edc-b394-4da173ee9a72']

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
12614,2020-01-01 06:30:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
38432,2020-01-01 10:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.339,1.489,1.469,1,1,1
67834,2020-01-01 11:29:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.469,1.449,1,1,1
71549,2020-01-01 11:39:03+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,0,1,1
88524,2020-01-01 13:01:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
112312,2020-01-01 14:29:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.319,1.429,1.409,1,1,1
113178,2020-01-01 14:34:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,0,0
128934,2020-01-01 16:00:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.349,1.499,1.479,1,1,1
152641,2020-01-01 17:17:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.429,1.409,1,1,1
174742,2020-01-01 18:54:04+01,bae4c2cf-1dde-4edc-b394-4da173ee9a72,1.279,1.419,1.399,0,1,1

In [39]:
len(prices.loc[prices.station_uuid.isin(stations_on_route.uuid)])

723